table.fight-simulator {
    border-radius: 5%;
    padding: 0.2%;
    margin: 0.3%;
    font-family: 'Noto Sans SC', sans-serif, '幼圆';
    background-color: rgba(215, 229, 250, 0.8);
    width: 99%;
}

.wide table.fight-simulator {
    width: 49%;
    display: inline-block;
}

.big-wide table.fight-simulator {
    width: 32.33%;
    display: inline-block;
}

table.fight-simulator.tianmei {
    background-color: rgba(250, 215, 215, 0.8);
}

table.fight-simulator.qingxin {
    background-color: rgba(215, 248, 250, 0.8);
}

table.fight-simulator.dianya {
    background-color: rgb(250, 235, 215, 0.8);
}

table.fight-simulator.shuaiqi {
    background-color: rgba(215, 221, 250, 0.8);
}

table.fight-simulator.xinggan {
    background-color: rgba(249, 215, 250, 0.8);
}

table.fight-simulator tr.title th {
    text-align: center;
    padding-bottom: 0.5em;
    padding-left: 5em;
}

table.fight-simulator tr.title span {
    line-height: 2.92em;
}

table.fight-simulator tr.title input.table-name {
    width: 12em;
    height: 15px;
}

table.fight-simulator tr.title button {
    float: right;
    height: 40px;
    padding: 5px;
    margin: 0 2px;
    border-radius: 10%;
    background: snow;
    font-size: 12px;
}

table.fight-simulator tr th {
    width: 12em;
    text-align: right;
}

table.fight-simulator tr td {
    width: 8em;
    margin-right: 5px;
}

table.fight-simulator tr input {
    width: 85px;
    height: 18px;
    padding: 3px;
    margin: 2px 0 2px 0;
    font-size: 1.05em;
}

table.fight-simulator tr input.percent {
    margin: 2px 5px 2px 0;
    width: 65px;
}

table.fight-simulator tr td.result {
    -webkit-text-stroke: 1px rgb(238, 79, 79);
    color: whitesmoke;
}

table.fight-simulator tr td.result2 {
    -webkit-text-stroke: 1px rgb(79, 153, 238);
    color: whitesmoke;
}

table.fight-simulator tr td.result3 {
    -webkit-text-stroke: 1px rgb(141, 177, 14);
    color: whitesmoke;
}

.compare-board {
    position: absolute;
    margin: auto 5%;
    padding: 1% 5%;
    width: 80%;
    background: #FFFFCC;
    text-align: center;
    transition: all 1s;
}

.compare-board.hide {
    opacity: 0;
    transform: translateY(-500px);
    z-index: -1;
}

.compare-board ul button {
    padding: 5px;
    margin: 0.4em 1em 0 0.5em;
    border-radius: 5em;
    background: snow;
    font-size: 0.8em;
}

.compare-board ul .percent.odd {
    background-color: #6495ED;
}

.compare-board ul .percent.even {
    background-color: #FA8072;
}

input#savedata {
    margin: 0 1em;
    width: 20em;
}

.contents {
    overflow: auto;
    height: 50%;
    padding: 0 2%;
}